<!DOCTYPE html>
<html>
  <head>
    <title>shopping card</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div class="container flex justify-between-flex align-center">
        <a href="/" class="logo">Shooping card</a>
        <nav>
          <ul class="flex align-center">
            <li><a href="/items/home">Home</a></li>
            <li><a href="/items">List of Items</a></li>
            <li><a href="/admin/signup">signup</a></li>
            <li><a href="/users/login">login</a></li>
            <li><a href="/users/logout">logout</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <section class="padding hero">
        <article class="container flex justify-between-flex align-center">
          <div class="hero-content flex-40">
            <h1 class="primary-heading">Welcome to Shooping Card</h1>
            <p class="text">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim
              voluptate ex possimus dicta sapiente magnam nobis mollitia
              recusandae ullam natus veniam amet, doloribus laudantium
              necessitatibus ipsum eveniet sunt nulla nisi.
            </p>
          </div>
          <div class="font-0 flex-50">
            <img
              src="https://www.nicepng.com/png/detail/84-848148_grocery-shopping-cart-png-supermarket-shopping-cart-png.png"
              alt=""
              class="img"
            />
          </div>
        </article>
      </section>
    </main>
  </body>
</html>
