.hero{
    background: rgb(246,246,246);
    height: 90vh;
    h1{
        margin-bottom: 2rem;
    }
}

.card{
    padding: 1rem;
    box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.5);
}

.details-hero{
.container{
    div{
        margin-bottom: 1rem;
    }
}
}


