.hero-signup{
    .checkbox-box{
        margin-bottom: 2rem;
        input{
            margin-right: 1rem;
        }
    }
    form{
        margin-top: 2rem;
    }
}

.login-hero{
    .form-container{
        margin-top: 2rem;
        .btn{
            margin-top: 1rem;
            padding: 0.75rem 3rem;
            font-size: 1.25rem;
        }
    }
}