<!DOCTYPE html>
<html>
  <head>
    <title>ragistration app</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>add users</h1>
    <p>Welcome to website</p>
    <a href="/users/new">ragistration</a>
    <a href="/users/login">login</a>
  </body>
</html>
