<!DOCTYPE html>
<html>
  <head>
    <title>authontication</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>welcome to authontication</h1>
    <a href="/users/new">add users</a>
  </body>
</html>
